html{
    background-color: lightgray;
    cursor: url(../cursor.cur), auto;
}

.cursor{
    position: absolute;
    height: 100px;
    width: 100px;
    transition: opacity 1s ease-in-out;


    
}

.cursor.fadeOut{
    opacity: 0;
}